.header{
font-family:monospace;
font-size: 20px;
color:rgb(4, 58, 4);
background-color: rgba(190, 211, 189, 0.178);
width: 100%;
padding: 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.082);
text-align: left;
}

body, html{
background-color:white;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

h1{
    font-family: 'monospace';
    margin: 15px;
   
    
}
.tomato{
    border: 1px solid rgb(231, 230, 230);
    
    
}
.importance{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    
}
.plant{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 95%;
    padding: 10px;
    border: 1px rgb(214, 209, 209) solid;
    margin: 15px;
   
}
.definition{
    border-color: black;
    font-family: monospace;
    font-size: 17px;
    
}
.main{
    padding-left: 10px;
    
}
.definition{
    padding-left: 5rem;
}
.definition p {
    margin-bottom: 40px;

}

#buttonStuff{
    display:none;
    background-color: green;
    color:white;
    cursor: pointer;
    align-items: right;
    font-size: 20px;
    padding: 10px;
    
}
#buttonStuff:hover{
    background-color: blue;
}

.buttonLocation{
   display:flex;
   justify-content: right;
   margin-top: 10px;
}
strong{
    color: red;
}

span{
    float: right;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 15px;
}